<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <form (ngSubmit)="filterData()">
                    <div class="row">
                        <div class="col-4">
                            <label for="search" class="form-label">Buscar por </label>
                            <select name="search" id="search" class="form-control" [(ngModel)]="filter.searchBy">
                                <option value="name">Nombre</option>
                                <option value="glass">Vaso</option>
                                <option value="ingredient">Ingrediente</option>
                                <option value="category">Categoria</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label for="value" class="form-label">
                                @switch (filter.searchBy) {
                                @case ('name') {
                                Nombre
                                }
                                @case ('glass') {
                                Vaso
                                }
                                @case ('ingredient') {
                                Ingrediente
                                }
                                @case ('category') {
                                Categoria
                                }
                                }
                            </label>
                            <input type="text" name="value" class="form-control" id="value" [(ngModel)]="filter.value">
                        </div>
                        <div class="col-4">
                            <button class="btn btn-primary " type="submit">
                                <i class="bi bi-search"></i>
                                Filtrar</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <div class="row">
            @if (loadCocktails) {
            @for(cocktail of listCocktails; track cocktail.id) {
            <div class="col-12 col-lg-3 col-md-4 col-sm-6 mt-4 mb-4">
                <div class="card">
                    <img [src]="cocktail.img" class="card-img-top" [alt]="cocktail.name">
                    <div class="card-body">
                        <p class="card-text text-center">{{cocktail.name}}</p>
                    </div>
                    <div class="card-footer d-grid">
                        <a class="btn btn-primary" [routerLink]="['/detail-cocktail',cocktail.id]">Ver detalles</a>
                    </div>
                </div>
            </div>
            }@empty {
            <div class="col-12 text-center">
                @if(searched){
                <span>No se han encontrado resultados</span>
                }@else {
                <span>Introduce los parametros de busqueda</span>
                }
            </div>
            }
            }@else {
            <div class="col-12 text-center p-5">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden ">Loading...</span>
                </div>
            </div>
            }
        </div>
    </div>
</div>